body{
    background-color: rgba(220, 220, 220, 0.642);
}
.blogpostdiv, .table, .video{
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 5px #888888;
}   
.li{
    box-shadow: 5px 1px 1px   #888888;
}
.navegatiebalk{
    font-size: 30px;
    color: black;
    background-color: #888888;
    border-radius: 3px;
}